body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica-Nueue', Helvetica, sans-serif;
	min-height: 100vh;
}

#search-container {
	margin-top: 50px;
	padding: 10px;
	
	height: 200px;
	width: 100vw;
}

#search-input {
	text-align: center;
	position: relative;
	top: 50%;
	width: 50vw;
	margin: 0 auto;
}

h2 {
	text-align: center;
}

#break {
	width: 40vw;
}

.warningmsg {
	margin: 0 auto;
    width: 360px;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(240, 100, 100, 0.6);
}