$font-stack: 'Avenir', Helvetica, Arial, sans-serif;
$text-black: #2c3e50;
$text-grey: rgb(140, 148, 161);
$background-black: #3A4346;
$color-primary: #4A4A63;
$color-secondary: #efede0;
$color-third: rgb(249, 213, 95);
$color-grey: #cacbcd;
$color-blue: rgb(97, 175, 255);
$color-red: rgb(255, 69, 90);
$color-green: #67AB94;
$color-brown: rgb(152, 150, 139);

.uppercase {
  text-transform: uppercase !important;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.clear-black-background {
  background-color: rgba(0,0,0, 0.4);
}

.blue-button {
  @extend .uppercase;
  background-color: $color-blue !important;
}

.green-button {
  @extend .uppercase;
  background-color: $color-green !important;
}

.red-button {
  @extend .uppercase;
  background-color: $color-red !important;
}

.primary-button {
  @extend .uppercase;
  background-color: $color-primary !important;
}

.secondary-button {
  @extend .uppercase;
  background-color: $color-third !important;
}

.default-button {
  @extend .uppercase;
  background-color: $color-grey !important;
}

.clear-button {
  @extend .uppercase;
  background-color: rgba(0,0,0, 0.4);
}

.secondary-button:hover, .primary-button:hover, 
.default-button:hover, .blue-button:hover,
.green-button:hover, .clear-button:hover, .red-button:hover {
  filter: opacity(80%) !important;
}

.modal-header {
  @extend .uppercase;
  font-weight: normal !important;
}
