@import '_shared';

body, html {
    height: 100%;
    overflow: hidden;
    cursor: default;
}

body {
  width: 100%;
  font-size: 14px;
  letter-spacing: .4px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: $font-stack !important;
  color: $text-black !important;
}

#root, #app {
  height: 100%;
  padding-top: 0.1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack !important;
}

#app {
  width: 100% !important;
  margin: 0 !important;

  #main-sidebar-container {
    border-top: 0;
    width: 94px;
    background-color: $color-primary;
    font-family: $font-stack;

    .active.item:after {
      background-color: $background-black;
      border-top: 0;
      border-right: 0;
    }

    .item {
      @extend .uppercase;
      color: rgb(255, 255, 255);
      letter-spacing: 0.9px;
      padding: .92857143em 0.5em;
      border: 0;
      border-bottom: 1px solid rgba(0,0,0,0.05);
      
      i.icon {
        color:rgba(255,255,255,0.35);
      }
    }

    div.item:nth-child(3) {
      border-bottom: 1px solid rgba(0,0,0,0.05);
    }
    
    .bottom-menu-item{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  #pushable-container {
  box-shadow: none;
  border: 0;
  margin-left: 92px !important;
  margin: 0;
  height: calc(100% - 44px) !important;
  border-radius: 0;

    #sidebar-container {
      background-color: $background-black;
      border-left: 0;
      border-top: 0;
      color: rgb(255, 255, 255);

      .clear-black-background {
        @extend .clear-black-background;
      }
    }
  }
}
