.uppercase, .blue-button, .green-button, .red-button, .primary-button, .secondary-button, .default-button, .clear-button, .modal-header, #app #main-sidebar-container .item, #app #pushable-container #sidebar-container .bottom-menu-item button {
  text-transform: uppercase !important;
  font-weight: 300;
  letter-spacing: 1.5px; }

.clear-black-background, #app #pushable-container #sidebar-container .clear-black-background {
  background-color: rgba(0, 0, 0, 0.4); }

.blue-button {
  background-color: #61afff !important; }

.green-button {
  background-color: #67AB94 !important; }

.red-button {
  background-color: #ff455a !important; }

.primary-button {
  background-color: #4A4A63 !important; }

.secondary-button {
  background-color: #f9d55f !important; }

.default-button {
  background-color: #cacbcd !important; }

.clear-button {
  background-color: rgba(0, 0, 0, 0.4); }

.secondary-button:hover, .primary-button:hover,
.default-button:hover, .blue-button:hover,
.green-button:hover, .clear-button:hover, .red-button:hover {
  filter: opacity(80%) !important; }

.modal-header {
  font-weight: normal !important; }

body, html {
  height: 100%;
  overflow: hidden;
  cursor: default; }

body {
  width: 100%;
  font-size: 16px;
  letter-spacing: .4px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: "Avenir", Helvetica, Arial, sans-serif !important;
  color: #2c3e50 !important; }

#root, #app {
  height: 100%;
  padding-top: 0.1px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Avenir", Helvetica, Arial, sans-serif !important; }

a {
  color: #4A4A63 !important;
  font-size: 1em; }

a:hover {
  filter: opacity(80%) !important; }

#app {
  width: 100% !important;
  margin: 0 !important; }
  #app #main-sidebar-container {
    border-top: 0;
    width: 94px;
    background-color: #4A4A63;
    font-family: "Avenir", Helvetica, Arial, sans-serif; }
    #app #main-sidebar-container .main-logo .main-title {
      letter-spacing: 3px;
      font-weight: 500;
      padding-top: 5px;
      font-size: 1.5em; }
    #app #main-sidebar-container .active.item:after {
      background-color: #3A4346;
      border-top: 0;
      border-right: 0; }
    #app #main-sidebar-container .item {
      color: white !important;
      letter-spacing: 0.9px;
      padding: .92857143em 0.5em;
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
      #app #main-sidebar-container .item i.icon {
        color: rgba(255, 255, 255, 0.35); }
    #app #main-sidebar-container div.item:nth-child(3) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    #app #main-sidebar-container .bottom-menu-item {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
  #app #pushable-container {
    box-shadow: none;
    border: 0;
    margin-left: 92px !important;
    margin: 0;
    height: calc(100% - 44px) !important;
    border-radius: 0; }
    #app #pushable-container .pusher {
      height: 100%;
      overflow: hidden; }
    #app #pushable-container #sidebar-container {
      background-color: #3A4346;
      border-left: 0;
      border-top: 0;
      color: white; }
      #app #pushable-container #sidebar-container .channel-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        color: inherit !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden; }
        #app #pushable-container #sidebar-container .channel-item .icon.channel-settings-icon::before {
          padding: 5px;
          color: white;
          opacity: 0; }
        #app #pushable-container #sidebar-container .channel-item .icon.world, #app #pushable-container #sidebar-container .channel-item .icon.lock {
          float: left;
          padding-right: 6px; }
      #app #pushable-container #sidebar-container .channel-item.active {
        background-color: #333; }
        #app #pushable-container #sidebar-container .channel-item.active .icon.channel-settings-icon::before {
          opacity: 1; }
        #app #pushable-container #sidebar-container .channel-item.active .icon.channel-settings-icon:hover::before {
          color: #f9d55f; }
      #app #pushable-container #sidebar-container .channel-item:active, #app #pushable-container #sidebar-container .channel-item:hover {
        background-color: rgba(0, 0, 0, 0.2); }
      #app #pushable-container #sidebar-container .bottom-menu-item {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0; }
    #app #pushable-container #sidebar-container.visible ~ .pusher {
      width: calc(100% - 260px); }
