@import '_shared';

#messages-container {
  height: 100%;

  .channel-name {
    @extend .uppercase;
    font-weight: bold;
    font-size: 2em;
    color: rgb(140, 148, 161);
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(0,0,0,0.1);

    .world {
      color: rgb(208, 208, 208);
    }
  }

  .messages-list-container {
    overflow-y: scroll;
    height: 100%;
  }

  .text-input-container {
    border-top: solid 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.3em 0.5em;

    form {
      button {
        @extend .secondary-button;
      }

      textarea {
        border: 0;
      }
    }
  }
}