@import '_shared';

.modal {
  .modal-header {
    text-align: center;
  }

  .modal-content-container {
    .login-content {
      form#signin, form#signup {
        .form-title {
          font-weight: bolder;
          color: $color-brown;
          letter-spacing: 3px;
          font-size: 2em;
          @extend .uppercase;

          img {
            margin-top: 0;
          }
        }
      }
    }

    .dm-content {
      .list {
        .item {
          cursor: pointer;
          
          button {
            opacity: 0;
            margin: 3px 0;
          }
        }

        .item::after {
          content: '';
          clear: both;
        }

        .item:hover {
          background-color: rgba(0, 0, 0, 0.05);

          button {
            opacity: 1;
          }
        }
      }
    }

    .channel-info-content {
      .card {
        .members-popup {
          cursor: pointer;
          color: $color-fourth;
        }

        .members-popup:hover {
          color: $color-blue;
        }
      }
    }
  }

  .exit-button {
    float: left;
    @extend .default-button;
  }

  .submit-button {
    color: white !important;
    @extend .green-button;
  }

  .warning-button {
    color: white !important;
    @extend .red-button;
  }
}