.uppercase {
  text-transform: uppercase !important;
  font-weight: 300 !important;
  letter-spacing: 1.5px; }

#top-navbar-container {
  margin-left: 92px;
  margin-top: 0;
  margin-bottom: 0;
  height: 47px;
  background-color: #efede0; }
