@import '_shared';

#top-navbar-container {
  margin-left: 92px;
  margin-top: 0;
  margin-bottom: 0;
  height: 47px;
  padding: 0;
  background-color: $color-secondary;

  .navbar-title {
    height: inherit;
    color: rgba(0, 0, 0, 0.3);

    #profile {
      cursor: pointer;
      width: 260px;
      margin: 0;
      height: 100%;
      border: 0;
      background-color: $color-fourth;
      border-radius: 0;
      display: inline-block;

      .content {
        padding: 6px 7px 8px 6px;
        height: 100%;
        width: 100%;

        .header {
          line-height: 1;
          letter-spacing: 0.8px;
          font-size: 1.25em;
          margin: 0;
          color: rgba(255, 255, 255, 0.9);
        }
        .meta {
          font-size: 0.95em;
          color: rgba(255, 255, 255, 0.8);
          line-height: 1;
          font-weight: normal;
        }

        img {
          height: 100% !important;
          float: left;
        }
      }
    }
    
    #profile:hover {
      background-color: $color-blue;
    }

    .signout-button {
      @extend .primary-button;
    }
  }
}

path {
  fill: rgba(0, 0, 0, 0.3);
}