.uppercase, .blue-button, .green-button, .red-button, .primary-button, #top-navbar-container .navbar-title .signout-button, .secondary-button, .default-button, .clear-button, .modal-header, #top-navbar-container .navbar-title span {
  text-transform: uppercase !important;
  font-weight: 300;
  letter-spacing: 1.5px; }

.clear-black-background {
  background-color: rgba(0, 0, 0, 0.4); }

.blue-button {
  background-color: #61afff !important; }

.green-button {
  background-color: #67AB94 !important; }

.red-button {
  background-color: #ff455a !important; }

.primary-button, #top-navbar-container .navbar-title .signout-button {
  background-color: #4A4A63 !important; }

.secondary-button {
  background-color: #f9d55f !important; }

.default-button {
  background-color: #cacbcd !important; }

.clear-button {
  background-color: rgba(0, 0, 0, 0.4); }

.secondary-button:hover, .primary-button:hover, #top-navbar-container .navbar-title .signout-button:hover,
.default-button:hover, .blue-button:hover,
.green-button:hover, .clear-button:hover, .red-button:hover {
  filter: opacity(80%) !important; }

.modal-header {
  font-weight: normal !important; }

#top-navbar-container {
  margin-left: 92px;
  margin-top: 0;
  margin-bottom: 0;
  height: 47px;
  padding: 0;
  background-color: #efede0; }
  #top-navbar-container .navbar-title {
    height: inherit;
    color: rgba(0, 0, 0, 0.3);
    padding: 0.3em 0.5em; }
    #top-navbar-container .navbar-title span {
      letter-spacing: 3px;
      font-size: 1.3em;
      vertical-align: middle; }
    #top-navbar-container .navbar-title img {
      margin-top: 0;
      height: 100%; }
    #top-navbar-container .navbar-title .profile-image {
      height: 100%;
      margin: 0;
      padding: 2px;
      cursor: pointer; }

path {
  fill: rgba(0, 0, 0, 0.3); }
