# This .env file is designed to be used by the
# docker-compose file. Meaning no command has to be run manually 
# in order to set the env variables below

# For use with Wit.ai
WITAITOKEN="your wit ai token here"

# To randomly generate one:
# openssl rand -base64 25 |md5 |head -c25;echo
SESSIONKEY="session key here"

# RabbitMQ URI hosted by cloudAMQP or if
# using a local RabbitMQ docker container for dev,
# don't set.
# https://www.cloudamqp.com/
# MQADDR="amqp://<user>:<password>@url"

# Mongo URI hosted by mlabs or if
# using a local Mongo Docker container for dev,
# don't set.
# https://mlab.com
DBADDR="mongodb://<user>:<password>@url"
