# This .env file is designed to be used by the
# docker-compose file. Meaning no command has to be run manually 
# in order to set the env variables below

# For use with Wit.ai
WITAITOKEN="your wit ai token here"

# To randomly generate one:
# openssl rand -base64 25 |md5 |head -c25;echo
SESSIONKEY="session key here"

# Designed to use a local RabbitMQ docker container.
# The docker-compose file sets this by default
# so you could keep this commented out.
# MQADDR="amqp://<user>:<password>@url"

# Designed to use a local Mongo docker container.
# The docker-compose file sets this by default
# so you could keep this commented out.
DBADDR="mongodb://<user>:<password>@url"
