@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans","Helvetica Neue", Helvetica, sans-serif;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#app {
    height: 100vh;
    margin: 0px !important;
}

#root {
  max-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 400 !important;
}

p {
    font-size: 14px;
    font: "Open Sans" 400;
}

button {
    background-color: #f95c3c !important;
    color: #fff !important;
    text-transform: uppercase !important;
    font-weight: 300 !important;
    letter-spacing: 1.5px;    
}

button:hover {
    background-color: rgba(249, 90, 62, 0.8) !important;
}