.modal-container input, .modal-container textarea, .modal-container div[role="listbox"] {
  background-color: rgba(79,84,92,.02) !important;
}

.modal-container input:hover, .modal-container textarea:hover, .modal-container div[role="listbox"] {
  border-color: #b9bbbe !important;
}

.modal-container div[role="listbox"] .item {
  display: flex !important;
  align-items: center !important;
}

.modal-container div[role="listbox"] img {
  margin-right: 5px !important;
}

.modal-container {
  padding: 0px !important;
  background-color: white !important;
}

.modal-container .button.floated.circular {
  margin-right: 1.2em;
  margin-top: 1.2em;
}

.modal-inner {
  background-color: white !important;
  margin-top: 15px !important;
  height: 100%;
  z-index: -1000;
}

@media only screen and (max-width: 767px) {
  .modal-inner {
    width: 80% !important;
    margin: 0 auto !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .modal-inner {
    width: 50% !important;
    margin: 0 auto !important;
  }
}

@media only screen and (min-width: 992px) {
  .modal-inner {
    width: 50% !important;
    margin: 0 auto !important;
  }
}
