#user-profile {
  box-shadow: none;
  margin-bottom: 0;
}

#user-profile .header {
  padding: 8px 3px;
}

.content {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.image {
  margin: 0 !important;
}

.card {
  width: 100% !important;
  border-radius: 0 !important;
}
